{% extends 'base.html' %}

{% block content %}
<div style="text-align:center">
    
    <h1>용병 상세정보</h1>
    <h3>이름: {{per.name}}<br> <h3>
    <h3>나이: {{per.age}}<br><h3>
    <h3>종목: {{per.event}}<br><h3> 
    <h3>포지션: {{per.position}}<br><h3> 
    <h3>선출여부: {{el}}<br><h3> 
    <h3>거주지: {{per.live}}<br><h3> 
    <h3>자기소개: {{per.intro}}<br><h3> 
    <h3>작성일시: {{per.birth}}<br><h3> 
        
    <br>
    <form action="{%url 'home'%}">
        <input type="submit" value="홈으로">
    </form>
    <a href="{% url 'edit' per.id %}">수정하기</a>
    <a href="{% url 'delete' per.id %}">삭제하기</a>
</div>
{% endblock %}
